body {
    transform: scale(1.1);
}

.bulbs {
  display: flex;
  margin-top:5%;
}
.holder {
  flex: 1;
  margin: 1%;
  border-radius: 50%;
}

.key {
  color: white;
  font-size: 150%;
  margin-left: 40px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.ab {
    background: yellow;
}

.nb {
    background: #333;
}

.holder:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}

#pause {
  float: right;
  margin: 30px;
  position: fixed;
  top: 20px;
  right: 50px;
}

.jumbotron {
  padding-bottom: 30%;
}