body {
    transform: scale(1.3);
}

.bulbs {
  display: flex;
  margin-top:5%;
}
.holder {
  flex: 1;
  margin: 1%;
  border-radius: 50%;

}

.ab {
    background: yellow;
}

.nb {
    background: #333;
}

.holder:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}
